# Java Files
*.class

# Java VM crash logs
hs_err_pid*

# Git
*~

# IntelliJ
*.iml
.idea*

# Eclipse
.settings
.project
.classpath

## Build paths
bin/
target/
build/
/.gradle/

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Windows shortcuts
*.lnk

# Temp folder
tmp/
